# Configuración de Supabase (opcional - ya tiene valores por defecto)
SUPABASE_URL=https://gqfiarxccbaznjxispsv.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdxZmlhcnhjY2Jhem5qeGlzcHN2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjEwMjg5MiwiZXhwIjoyMDg3Njc4ODkyfQ.BdwO_YxfI3_kPRNIfKaoyyVKvLYtNaMCbsjFVmCBcxE
